.navul {
    list-style: none;
    display: flex;
    gap: 10px;


}
a {
     text-decoration: none;
     color: #575757;

}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Times New Roman', Times, serif; 
    margin: 10px;  
  
}



.fimg{
    width: 100%;
    height:100%;
    object-fit:cover ;
}

body{
    margin: 0;
}
.secone {
    position:relative;
}
.seconediv{
    position: absolute;
    color: white;
    
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
   
}
h1{
    font-size: 90px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 750px;
}
.seconediv p {
    position: absolute;
    font-size: 20px;
    margin-bottom: 480px;
}
.b {
    width: 188px;
    height: 48px;
    position: absolute;
    color:white;
    font-weight: bold;
    border-radius: 30px;
    background-color: #1d4ed8;
    margin-top: 850px;
   
}
.m{
    width: 150px;
    height: 48px;
  
    color:white;
    font-weight: bold;
    border-radius: 20px;
    background-color: #1d4ed8;
   
    top: 80%;
    left: 43%;
}